:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --secondary-text:  hsl(228, 12%, 44%);
    --primary-text: hsl(230, 17%, 14%);
    --card-hover-state: hsl(227, 14%, 89%);

}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .toggle {
    max-width: 50px;
    background-image:  hsl(230, 22%, 74%);
  }
  .on {
    background-image:  linear-gradient(to right, rgb(55, 143, 230), rgb(62, 218, 130));

  }
  .on > div {
    float: right;
    background-color: var(--secondary);
  }
  /* this heck is from https://css-tricks.com/gradient-borders-in-css/ */
  #insta-card {
    background: linear-gradient(45deg, hsl(37, 97%, 70%) ,hsl(329, 70%, 58%));
    padding-top: 4px;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
